* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#94a1b2;
}

.subtitle {
  font-size:x-large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#7f5af0;
}

ul {
  padding-left: 2rem;
  list-style-type: none;
}

img {
 max-width: 25%;
 max-height: 25%;
 border-radius: 50%;
}

.tableOne {
  background-color: #16161a;
  color: white;
}

h1 {display: none;}