

/*background-color:#7f5af0;*/

html{
  margin: 0;
  border: 0;
padding: 0;
}

body{
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  border: 0;
padding: 0;
}

#header{
  background-color:#7f5af0;
  
}

li{
  list-style: none;
}

ul{
  padding-left: 0;
}

#name{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 40px;
}

h1{
  margin-bottom: 0;
}


.column1 a{
  text-decoration: none;
  color: black ;
}

.column2 a{
  text-decoration: none;
  color: rgb(226, 226, 226);
}

.section-title {
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 2px;
  background-color: #000000; /* Puedes cambiar el color a tu preferencia */
}

.habilidades-container{
  
}

.habilidades-tecnicas{
  display: flex;
  flex-direction: column;
}

.habilidades-tecnicas-container{
  display: inline-flex;
  gap: 50px;
}


#column-container{
  display: inline-flex;
  width: 100%;
}

.column1{
  background-color: #997dec;
  width: 40%;
  padding-left: 3%;
}

.column2{
  background-color: #1f1f1f;
  width: 60%;
  padding-left: 3%;
  color:rgb(226, 226, 226);
}

.row2{
gap: 150px;
}

.column2 .section-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 2px;
  background-color: #b11234; /* Puedes cambiar el color a tu preferencia */
}

.formacion{
  display: flex;
  flex-direction: column;
}

.list{
padding-left: 20px;
}

.portfolio,.courses{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


#habilidades .section-title{
  margin-bottom: 0;
}

h3{
  margin:0;
}